.row
  %h1
    Edit
    %em
      ==#{@record.hashed_url}?
  .well.span4
    = form_tag url_path, :method => :put do
      = text_field_tag :url, nil, :value => @record.full_url, :class => "input-xlarge"
      %br
      = text_field_tag :custom_url, nil, :value => @record.hashed_url, :class => "input-xlarge", :disabled => true
      %br
      = hidden_field_tag :admin_hash, @record.admin_hash
      = submit_tag "Update", :id => "update-url-btn", :class => "btn btn-large btn-info"
      = link_to "Delete", @record, :id => "delete-url-btn", :class => "btn btn-large btn-danger", :method => :delete
